body{
    margin: 0 auto;
    background-color: navy;
    color: white;
}
div{
    padding: 0px 150px 30px 150px;
}
h2{
    text-align: center;
}
header{
    background-image: url("images/binary.jpg");
    background-size: contain;
    text-align: center;
}
li{
    float: left;
    padding: 0px 200px 0px 200px;
    color: black;
}
ul {
    padding: 10px;
    list-style: none;
    text-align: center;
}
.headh1{
    color: white;
    font-size: 50px;
    margin: 0;
}
.headerul{
    background: rgba(255, 255, 255, .6);
    background-size: cover;
    padding: 10px 0px 25px 0px;
}
.left-align{
    text-align: left;
}

/*Buttons*/
/*Home Button*/
.homeBtn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e6cf3c), color-stop(1, #d9a13f));
	background:-moz-linear-gradient(top, #e6cf3c 5%, #d9a13f 100%);
	background:-webkit-linear-gradient(top, #e6cf3c 5%, #d9a13f 100%);
	background:-o-linear-gradient(top, #e6cf3c 5%, #d9a13f 100%);
	background:-ms-linear-gradient(top, #e6cf3c 5%, #d9a13f 100%);
	background:linear-gradient(to bottom, #e6cf3c 5%, #d9a13f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6cf3c', endColorstr='#d9a13f',GradientType=0);
	background-color:#e6cf3c;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #473500;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.homeBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9a13f), color-stop(1, #e6cf3c));
	background:-moz-linear-gradient(top, #d9a13f 5%, #e6cf3c 100%);
	background:-webkit-linear-gradient(top, #d9a13f 5%, #e6cf3c 100%);
	background:-o-linear-gradient(top, #d9a13f 5%, #e6cf3c 100%);
	background:-ms-linear-gradient(top, #d9a13f 5%, #e6cf3c 100%);
	background:linear-gradient(to bottom, #d9a13f 5%, #e6cf3c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9a13f', endColorstr='#e6cf3c',GradientType=0);
	background-color:#d9a13f;
}
.homeBtn:active {
	position:relative;
	top:1px;
}
/*About*/
.aboutBtn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e6cf3c), color-stop(1, #d9a13f));
	background:-moz-linear-gradient(top, #e6cf3c 5%, #d9a13f 100%);
	background:-webkit-linear-gradient(top, #e6cf3c 5%, #d9a13f 100%);
	background:-o-linear-gradient(top, #e6cf3c 5%, #d9a13f 100%);
	background:-ms-linear-gradient(top, #e6cf3c 5%, #d9a13f 100%);
	background:linear-gradient(to bottom, #e6cf3c 5%, #d9a13f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6cf3c', endColorstr='#d9a13f',GradientType=0);
	background-color:#e6cf3c;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #473500;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.aboutBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9a13f), color-stop(1, #e6cf3c));
	background:-moz-linear-gradient(top, #d9a13f 5%, #e6cf3c 100%);
	background:-webkit-linear-gradient(top, #d9a13f 5%, #e6cf3c 100%);
	background:-o-linear-gradient(top, #d9a13f 5%, #e6cf3c 100%);
	background:-ms-linear-gradient(top, #d9a13f 5%, #e6cf3c 100%);
	background:linear-gradient(to bottom, #d9a13f 5%, #e6cf3c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9a13f', endColorstr='#e6cf3c',GradientType=0);
	background-color:#d9a13f;
}
.aboutBtn:active {
	position:relative;
	top:1px;
}
