a{
    color: white;
}
body{
    margin: 0 auto;
    background-color: navy;
    color: white;
}
div{
    padding: 0px 150px 30px 150px;
}
h2{
    padding-top: 10px;
    text-align: center;
}
header{
    background-image: url("images/binary.jpg");
    background-size: contain;
    text-align: center;
    padding: 20px 0px 0px 0px;
}
iframe{
    display: block;
    padding: 0px 150px 0px 150px;
}
img{
    border-radius: 15px;
    border-color: #FFD700;
    border-style: solid;
    border-width: 3px;
}
li{
    float: left;
    color: black;
}
ul{
    padding: 10px;
    list-style: none;
}
.headh1{
    color: white;
    font-size: 50px;
    margin: 0;
}
.headerul{
    background: rgba(255, 255, 255, .6);
    background-size: cover;
    padding: 5px 0px 50px 0px;
}
.home{
    padding: 0px 20px 0px 320px;
}
.about{
    padding: 0px 20px 0px 300px;
}
.left-align{
    text-align: left;
}
.media{
    color: white;
}

/*Buttons*/
/*Home Button*/
.homeBtn {
    background: #FFD700;
    background-image: -webkit-linear-gradient(top, #FFD700, #AB8C13);
    background-image: -moz-linear-gradient(top, #FFD700, #AB8C13);
    background-image: -ms-linear-gradient(top, #FFD700, #AB8C13);
    background-image: -o-linear-gradient(top, #FFD700, #AB8C13);
    background-image: linear-gradient(to bottom, #FFD700, #AB8C13);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 17px;
    font-weight: 100;
    padding: 12px;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.homeBtn:hover {
    background: #3F99FF;
    background-image: -webkit-linear-gradient(top, #3F99FF, #275E9C);
    background-image: -moz-linear-gradient(top, #3F99FF, #275E9C);
    background-image: -ms-linear-gradient(top, #3F99FF, #275E9C);
    background-image: -o-linear-gradient(top, #3F99FF, #275E9C);
    background-image: linear-gradient(to bottom, #3F99FF, #275E9C);
    text-decoration: none;
}

/*About*/
.aboutBtn {
    background: #FFD700;
    background-image: -webkit-linear-gradient(top, #FFD700, #AB8C13);
    background-image: -moz-linear-gradient(top, #FFD700, #AB8C13);
    background-image: -ms-linear-gradient(top, #FFD700, #AB8C13);
    background-image: -o-linear-gradient(top, #FFD700, #AB8C13);
    background-image: linear-gradient(to bottom, #FFD700, #AB8C13);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 17px;
    font-weight: 100;
    padding: 12px;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
}

.aboutBtn:hover {
    background: #3F99FF;
    background-image: -webkit-linear-gradient(top, #3F99FF, #275E9C);
    background-image: -moz-linear-gradient(top, #3F99FF, #275E9C);
    background-image: -ms-linear-gradient(top, #3F99FF, #275E9C);
    background-image: -o-linear-gradient(top, #3F99FF, #275E9C);
    background-image: linear-gradient(to bottom, #3F99FF, #275E9C);
    text-decoration: none;
}
